<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Lista de empleados</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='{{ base_url }}/css/app.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% include "employees/search-form.twig" %}
        <h2>Lista de empleados</h2>
        <table border="0" cellspacing="0" cellpadding="2" class="tabla">
            <thead>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Posición</th>
            <th>Salario</th>
            <th>Detalle</th>
        </thead>
        <tbody>
            {% for e in employees %}
                <tr>
                    <td>{{ e.name }}</td>
                    <td>{{ e.email }}</td>
                    <td>{{ e.position }}</td>
                    <td class="salary">{{ e.salary }}</td>
                    <td><a href="{{ base_url }}/api/employees/{{ e.id }}"><img src="{{ base_url }}/images/icons/icon_lupa.png" /></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>